<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Management System</title>
     <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Book Management System</h1>
    <a href="books/create_form">Create new book</a><br></br>
    <a href="books/id_for_book_update">Update book</a><br></br>
    <a href="books">Retrieve a list of all books.</a><br></br>
    <a href="books/id_for_book_details">Retrieve details of a specific book by ID.</a><br></br>
    <a href="books/id_for_book_delete">Delete book</a><br></br>
</body>
</html>
